<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCu_wDCOGSUIcka2hS9i5vxlGR-jAj_q-w</string>
	<key>GCM_SENDER_ID</key>
	<string>258008721524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.belajarFirebase</string>
	<key>PROJECT_ID</key>
	<string>project-pab-e2bc4</string>
	<key>STORAGE_BUCKET</key>
	<string>project-pab-e2bc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258008721524:ios:83ea33b6e2df8c2ab4c921</string>
	<key>DATABASE_URL</key>
	<string>https://project-pab-e2bc4-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>